.gaugeContainer {
  position: relative;
  margin: 0 auto;
}

.gaugeChart {
  position: relative;
  width: 100%;
  height: 100%;
}

.gaugeValue {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.value {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 0.25rem;
}

.label {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.details {
  font-size: 0.75rem;
  color: #999;
}

@media (max-width: 768px) {
  .value {
    font-size: 1.25rem;
  }
  
  .label {
    font-size: 0.8rem;
  }
  
  .details {
    font-size: 0.7rem;
  }
}